<!DOCTYPE html>
<html
		lang="en"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/landing-layout}"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
		xmlns:th="http://www.thymeleaf.org"
>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8"/>
	<link
			href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
			rel="stylesheet"
	/>
	<meta
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
			name="viewport"
	/>
	<link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}" />

	<link rel="stylesheet" th:href="@{/css/signup/owl.carousel.min.css}" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/signup/bootstrap.min.css}" />

	<!-- Style -->
	<link rel="stylesheet" th:href="@{/css/signup/style.css}" />
	<title>Register</title>
</head>
<body>
<div layout:fragment="content">
	<div class="container my-5">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-12">
				<div class="form-block mx-auto">
					<div class="text-center mb-5">
						<h3 class="text-uppercase">
							Register to <strong>Anabul Shop & Care</strong>
						</h3>
					</div>
					<form
							action="#"
							enctype="multipart/form-data"
							method="post"
							th:action="@{/login}"
					>
						<div class="mb-3">
							<label class="form-label" for="email"
							>Email address</label
							>
							<input
									aria-describedby="emailHelp"
									class="form-control"
									id="email"
									name="email"
									type="email"
									placeholder="example@email.com"
							/>
						</div>
						<div class="mb-3">
							<label class="form-label" for="password">Password</label>
							<input
									class="form-control"
									id="password"
									name="password"
									type="password"
									placeholder="******"
							/>
						</div>

						<div class="d-sm-flex mb-5 justify-content-center">
							Not have account? <a class="forgot-pass" th:href="@{/signup}"> Register Here</a>
						</div>

						<input
								class="btn btn-block py-2 btn-primary"
								type="submit"
								value="Signin"
						/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<th:block layout:fragment="optional">
	<script th:src="@{/js/signup/custom.js}"></script>
	<script
			src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"
	></script>
	<script th:src="@{/js/signup/lokasiapi.js}"></script>
</th:block>
</body>
</html>