<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>Coming Soon</title>
</head>
<body>
<div layout:fragment="content">
  <div class="wrapper vh-100">
    <div class="align-items-center h-75 d-flex w-50 mx-auto">
      <div class="mx-auto text-center">
        <h1 class="display-1 m-0 font-weight-bolder text-muted" style="font-size:80px;">&#x1F6E0;</h1>
        <h1 class="mb-1 text-muted font-weight-bold">Cooming Soon</h1>
        <h6 class="mb-3 text-muted">Fitur Baru Segera Datang...</h6>
      </div>
    </div>
  </div>
</div>
</body>
</html>