<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="page-title">Wah Product Baru &#x1F63B;</h1>
    <form action="#" enctype="multipart/form-data" method="post" th:action="@{/dashboard/product}"
          th:object="${product}">
        <div class="form-group mt-3">
            <label class="form-label" for="customFile">Image Product</label>
            <div class="custom-file">
                <input id="customFile" name="file" type="file">
            </div>
        </div>
        <div class="mt-3">
            <img alt="image-product" class="img-fluid" id="prevImg" src="#"/>
        </div>
<!--        <div class="mt-3">-->
<!--            <label class="form-label" for="name">User</label>-->
<!--            <input class="form-control" id="userApp" placeholder="Email User" th:field="*{emailUser}" th:value="${userApp.email}" type="text" hidden>-->
<!--            <div class="alert alert-warning" th:errors="*{emailUser}" th:if="${#fields.hasErrors('emailUser')}"></div>-->
<!--        </div>-->
        <div class="mt-3">
            <label class="form-label" for="name">Product Name</label>
            <input class="form-control" id="name" placeholder="Name" th:field="*{productName}" type="text">
            <div class="alert alert-warning" th:errors="*{productName}"
                 th:if="${#fields.hasErrors('productName')}"></div>
        </div>
        <div class="mt-3 mb-3">
            <label class="form-label" for="category">Category</label>
            <input class="form-control" id="category" placeholder="Category" th:field="*{category.name}" type="text">
        </div>
        <div class="mt-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" id="description" placeholder="Description" th:field="*{description}"
                      type="text"></textarea>
        </div>
        <div class="mt-3">
            <label class="form-label" for="stock">Stock</label>
            <input class="form-control" id="stock" placeholder="Stock" th:field="*{stock}" type="number">
        </div>
        <div class="mt-3 mb-3">
            <label class="form-label" for="stock">Price</label>
            <input class="form-control" id="price" placeholder="Price" th:field="*{price}" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add Product</button>
    </form>
</div>
<th:block layout:fragment="optional">
    <script th:src="@{/js/dashboard/custom.js}"></script>
</th:block>
</body>
</html>