<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Anabul Shop & Care</title>
    <!-- Simple Bar -->
    <link rel="stylesheet" th:href="@{/css/dashboard/simplebar.css}">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icon -->
    <link rel="stylesheet" th:href="@{/css/dashboard/feather.css}">
    <!-- Date Range Picker -->
    <link rel="stylesheet" th:href="@{/css/dashboard/daterangepicker.css}">
    <!-- App CSS -->
    <link rel="stylesheet" th:href="@{/css/dashboard/app-light.css}" id="lightTheme">
    <link rel="stylesheet" th:href="@{/css/dashboard/app-dark.css}" id="darkTheme" disabled>
</head>
<body class="light ">
<div class="wrapper vh-100">
    <div class="align-items-center h-100 d-flex w-50 mx-auto">
        <div class="mx-auto text-center">
            <h1 class="display-1 m-0 font-weight-bolder text-muted" style="font-size:80px;">&#x1F6E0;</h1>
            <h1 class="mb-1 text-muted font-weight-bold">Anabul Shop & Care</h1>
            <h6 class="mb-3 text-muted">The page could not be found.</h6>
        </div>
    </div>
</div>
<script th:src="@{/js/dashboard/jquery.min.js}"></script>
<script th:src="@{/js/dashboard/popper.js}"></script>
<script th:src="@{/js/dashboard/moment.min.js}"></script>
<script th:src="@{/js/dashboard/bootstrap.min.js}"></script>
<script th:src="@{/js/dashboard/simplebar.min.js}"></script>
<script th:src="@{/js/dashboard/daterangepicker.min.js}"></script>
<script th:src="@{/js/dashboard/jquery.stickOnScroll.js}"></script>
<script th:src="@{/js/dashboard/tinycolor-min.js}"></script>
<script th:src="@{/js/dashboard/config.js}"></script>
<script th:src="@{/js/dashboard/app.js}"></script>
<th:block layout:fragment="optional"></th:block>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag()
    {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
</script>
</body>
</html>