<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/landing-layout}"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <link
            href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
            rel="stylesheet"
    />
    <meta
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            name="viewport"
    />
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}" />

    <link rel="stylesheet" th:href="@{/css/signup/owl.carousel.min.css}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/signup/bootstrap.min.css}" />

    <!-- Style -->
    <link rel="stylesheet" th:href="@{/css/signup/style.css}" />
    <title>Register</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container my-5">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block mx-auto">
                            <div class="text-center mb-5">
                                <h3 class="text-uppercase">
                                    Register to <strong>Anabul Shop & Care</strong>
                                </h3>
                            </div>
                            <form
                                    action="#"
                                    enctype="multipart/form-data"
                                    method="post"
                                    th:action="@{/signup/seller/processing}"
                                    th:object="${form}"
                            >
                                <div class="form-group">
                                    <label class="form-label" for="customFile"
                                    >Photo Profile</label
                                    >
                                    <div class="custom-file">
                                        <input id="customFile" name="file" type="file"/>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <img
                                            alt="avatar-user"
                                            class="img-fluid w-50"
                                            id="prevImg"
                                            src="#"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="firstName"
                                    >First Name</label
                                    >
                                    <input
                                            class="form-control"
                                            id="firstName"
                                            th:field="*{firstName}"
                                            type="text"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="lastName">Last Name</label>
                                    <input
                                            class="form-control"
                                            id="lastName"
                                            th:field="*{lastName}"
                                            type="text"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="email"
                                    >Email address</label
                                    >
                                    <input
                                            aria-describedby="emailHelp"
                                            class="form-control"
                                            id="email"
                                            th:field="*{email}"
                                            type="email"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="phone">Phone Number</label>
                                    <input
                                            class="form-control"
                                            id="phone"
                                            th:field="*{phoneNumber}"
                                            type="number"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label> Provinsi </label>
                                    <select
                                            class="custom-select"
                                            id="provinsi"
                                            th:field="*{address.provinsi}"
                                    ></select>
                                    <br/>
                                    <label> Kabupaten </label>
                                    <select
                                            class="select2-data-array browser-default"
                                            id="kabupaten"
                                            th:field="*{address.kota}"
                                    ></select>
                                    <br/>
                                    <label> Kecamatan </label>
                                    <select
                                            class="select2-data-array browser-default"
                                            id="kecamatan"
                                            th:field="*{address.kecamatan}"
                                    ></select>
                                    <br/>
                                    <label> Kelurahan </label>
                                    <select
                                            class="select2-data-array browser-default"
                                            id="kelurahan"
                                            th:field="*{address.kelurahan}"
                                    ></select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="password">Password</label>
                                    <input
                                            class="form-control"
                                            id="password"
                                            th:field="*{password}"
                                            type="password"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="confirmPassword"
                                    >Confirm Password</label
                                    >
                                    <input
                                            class="form-control"
                                            id="confirmPassword"
                                            th:field="*{confirmPassword}"
                                            type="password"
                                    />
                                </div>

                                <div class="d-sm-flex mb-5 justify-content-center">
                                    <a class="forgot-pass" th:href="@{/login}">Already Registered? Login Here</a>
                                </div>

                                <input
                                        class="btn btn-block py-2 btn-primary"
                                        type="submit"
                                        value="Register"
                                />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</div>
<th:block layout:fragment="optional">
    <script th:src="@{/js/signup/custom.js}"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"
    ></script>
    <script th:src="@{/js/signup/lokasiapi.js}"></script>
</th:block>
</body>
</html>